#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ButtonContainer {
  display: flex;
}

.Button {
  border: 1px solid #000;
  padding: 10px;
  margin: 5px;
}

.BlurCircle {
  position: absolute;
  width: 800px;
  height: 800px;
  background: radial-gradient(circle, 
  rgba(50, 10, 150, 0.3),
  rgba(37, 9, 121, 0.259),
  rgba(7, 155, 185, 0.736));
  border-radius: 50%;
  filter: blur(70px);
  bottom: -200px;  /* Move it partially off-screen */
  right: -200px;    /* Move it partially off-screen */
  z-index: 0;
}

.Header {
  display: flex;
  flex-direction: column;
  margin-left: -50rem;
}

.NameHeader {
  font-size: 4.5em;
}

.SubHeader {
  margin-top: -3rem;
  margin-right: 11rem;
}

@keyframes blink {
  0%, 100% {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

#caret {
  animation: blink 1.5s 1s infinite;
}